.filters {
  &__list {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
    margin-bottom: 62px;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 15px;
  }
  &__item:nth-child(1) button {
    padding: 6px 13px;
  }
  &__item:nth-child(2) button {
    padding: 6px 39px 6px 40px;
  }
  &__item:nth-child(3) button {
    padding: 6px 38px 6px 37px;
  }
  &__item:nth-child(4) button {
    padding: 6px 27px;
  }
  &__item:nth-child(5) button {
    padding: 6px 27px 6px 26px;
  }
  &__button {
    background-color: $bgTeamDescribtion;
    border: none;
    border-radius: 2px;
    color: $primaryColor;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: $primaryFont;
    line-height: 1.625;

    transition: background $transDurTim, color $transDurTim,
      box-shadow $transDurTim;
    &:hover {
      color: $tertiaryColor;
      background-color: $accentColor;
      cursor: pointer;
      box-shadow: 0px 4px 4px 0px $boxShadow;
    }
  }

  @include tablet {
    &__list {
      flex-wrap: nowrap;
      justify-content: center;
    }
  }
  @include desktop {
    &__list {
      justify-content: center;
      gap: 8px;
      margin-bottom: 50px;
      flex-wrap: nowrap;
    }
  }
}
