.form {
  margin: 0 40px;
  &__tittle {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primaryColor;
    margin-top: 40px;
    margin-bottom: 12px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    &:hover svg {
      fill: $accentColor;
      transition: fill $transDurTim;
    }
    &:focus-within {
      fill: $accentColor;
      transition: fill $transDurTim;

    }
  }
  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-items: center;
    padding: 10px 76px;
    color: $tertiaryColor;
    background-color: $accentColor;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px $boxShadow);
    position: absolute;
    left: 164px;
    bottom: 40px;
    &:hover {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    }
  }
  &__input {
    border: 1px solid $formInput;
    border-radius: 4px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 10px;

    &:hover {
      border: 1px solid $accentColor;
      transition: border $transDurTim;
    }
    &:focus-within {
      border: 1px solid $accentColor;
      outline: none;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__textarea {
    border: 1px solid $formInput;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    resize: none;
    margin-bottom: 20px;

    &::placeholder {
      font-family: $primaryFont;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }

    &:hover {
      border: 1px solid $accentColor;
      transition: border $transDurTim;
    }
    &:focus-within {
      border: 1px solid $accentColor;
      outline: none;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__label {
    color: $textcolor;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    position: relative;
  }
  &__icons {
    position: absolute;
    top: 29px;
    left: 12px;
  }
}
.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
  gap: 8px;
  position: relative;
  &__link {
    color: $accentColor;
  }
  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $textcolor;
    cursor: pointer;
  }
  &__input {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid $primaryColor;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 2px;
    &:checked {
      background-color: $accentColor;
      border-color: $accentColor;
      border: none;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
      background-size: contain;
    }
  }
}
