.header {
  border-bottom: 1px solid $borderHeaderColor;
  padding: 0 15px;
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
  }
  &__nav {
    justify-content: space-around;
  }
  &__menu-list {
    display: none;
  }
  &__contact-list {
    display: none;
  }

  &__menu-svg {
    display: block;
    cursor: pointer;
    transition: fill $transDurTim;
    &:hover,
    :focus-within {
      fill: $accentColor;
    }
  }

  @include tablet {
    &__container {
      padding: 24px 0;
    }
    &__nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__menu-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__menu-item:not(:last-child) {
      padding-right: 46px;
    }
    &__menu-link {
      text-decoration: none;
      color: $primaryColor;
      font-weight: 500;
      cursor: pointer;
      line-height: 1.17;
      transition: color $transDurTim;
      &:hover {
        color: $accentColor;
      }
    }
    &__contact-list {
      display: block;
      margin-top: 10px;
    }
    &__contact-item:not(:last-child) {
      padding-right: 0px;
    }
    &__contact-link {
      text-decoration: none;
      display: flex;
      align-items: center;
      transition: color $transDurTim;
      color: $textcolor;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        color: $accentColor;
        & svg {
          fill: $accentColor;
          transition: fill $transDurTim;
        }
      }
    }
    &__icon {
      margin-right: 10px;
      transition: fill $transDurTim;
    }
    &__menu-svg {
      display: none;
    }
  }
  @include desktop {
    &__contact-list {
      display: flex;
    }
    &__contact-item:not(:last-child) {
      padding-right: 50px;
    }
    &__menu-list {
      margin-right: 345px;
    }
    &__menu-svg {
      display: none;
    }
  }
}
.is-active {
  position: relative;
  &::after {
    content: "";
    background-color: $accentColor;
    width: 53px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 48px;
    display: block;
  }
}
.is-active--second {
  &::after {
    @extend .is-active;
    width: 58px;
  }
}
