.logo {
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  color: $primaryColor;
  text-decoration: none;
  margin-right: 0px;

  &__first-part {
    color: $accentColor;
  }
  &__footer {
    margin-right: 0px;
    font-size: 24px;
    line-height: 0.9;
    margin-bottom: 23px;
    display: inline-block;
  }
  &__second-part--white {
    color: $tertiaryColor;
  }

  @include desktop {
    font-size: 26px;
     margin-right: 93px;
  }
}
