.ourclients {
  &__tittle {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 1.17;
    margin-bottom: 30px;
  }
  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    flex-basis: calc((100% - 30px / 2));
  }
  &__item {display: flex;
    justify-content: center;
    
    width: 210px;
    border: $iconsColor 1px solid;
    border-radius: 4px;
    transition: color $transDurTim, border $transDurTim;
    &:hover {
      border: 1px solid $accentColor;
      border-radius: 4px;

      & svg {
        fill: $accentColor;
      }
    }
  }
  &__icon {
    margin: 16px 32px 16px 32px;
    transition: fill $transDurTim;
  }
  @include tablet {
    &__list {
      flex-basis: calc((100% - 2 * 30px / 3));
    }
    &__item {
      width: 226px;
    }
  }
  @include desktop {
    &__tittle {
      font-size: 36px;
      margin-bottom: 50px;
    }
    &__item {
      flex-wrap: nowrap;
      width: auto;
    }
    &__list {
      justify-content: space-between;
      gap: 0;
    }
  }
}
