body {
  font-family: $primaryFont;
  color: $secondaryColor;
  background-color: $tertiaryColor;
  letter-spacing: 0.03em;
  font-size: 14px;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.container {
  width:100%;
  max-width: 450px;
  margin: 0 auto;
  @include tablet {
    max-width: 738px;
  }
  @include desktop {
    max-width: 1170px;
  }
}
.section {
  padding: 60px 0;

  @include desktop {
    padding: 94px 0;
  }
}
.icon {
  fill: $iconsColor;
}
img {
  display: block;
}
