/*fonts*/
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;
/*colors*/
$primaryColor: #212121;
$secondaryColor: #000000;
$tertiaryColor: #ffffff;
$accentColor:#2196f3;
$textcolor: #757575;
$placeholderTextarea:rgba(117, 117, 117, 0.5);
$footerLinks:rgba(255, 255, 255, 0.6);
/*backgrounds colors*/
$bgTeamDescribtion:#f5f4fa;
$bgHeadlineFooter:#2f303a;
$portfolioOverlay:rgba(33, 150, 243, 0.9);
$modalBckdrop:rgba(0, 0, 0, 0.8);
$headlineGradient:rgba(47, 48, 58, 0.4);
$whatwedoOverlay:rgba(47, 48, 58, 0.8);
/*icons*/
$iconsColor: #afb1b8;
$bgFooterIcons:rgba(255, 255, 255, 0.1);

/*borders and shadows*/
$borderHeaderColor:#ececec;
$newsletterInput:rgba(255, 255, 255, 0.3);
$formInput:rgba(33, 33, 33, 0.2);
$modalClosinBttn: rgba(0, 0, 0, 0.1);
$boxShadow:rgba(0, 0, 0, 0.25);

/*animation*/
$transDurTim: 250ms cubic-bezier(0.4, 0, 0.2, 1);






